.column {
    float: left;
    width: 50%;
}
.topnav {
    background-color: #2db7fa;
    overflow: hidden;
}
.topnav a {
    padding: 15px;
    display: inline-flex;
    float: left;
}
.topnav a.active {
    background-color: #b3e2ff;
    color: black;
}
.topnav a:hover {
    background-color: #006191;
    color: white;
}

header {
    background-color: #47bffa;
}
body {
    margin: 0;
    background-color: white;
}
h1 {
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 60px;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 16px;
}
a {
    font-size: 16px;
}